:root {
    --pink: hsl(322, 100%, 66%);
    --very-pale-cyan: hsl(193, 100%, 96%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --grayish-blue: hsl(208, 11%, 55%);
    --soft-black: hsla(0, 0%, 0%, 10%);
    --white: hsl(0, 0%, 100%);
}

@font-face {
    font-family: "Poppins";
    src: url("./fonts/Poppins-SemiBold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Open Sans";
    src: url("./fonts/OpenSans-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Open Sans";
    src: url("./fonts/OpenSans-Bold.ttf") format("truetype");
    font-weight: 700;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    min-height: 100vh;
}

a {
    display: inline-block;
    text-decoration: none;
}

img,
svg {
    display: block;
    max-width: 100%;
}

ul {
    list-style: none;
}

h1,
h2 {
    font-family: "Poppins", sans-serif;
}

.navbar,
.hero,
.card-container,
.footer {
    padding-inline: 4em;
    max-width: 1200px;
    margin-inline: auto;
}

.navbar__button,
.hero__button,
.community__button {
    border-radius: 40px;
    font-size: .85em;
    font-weight: 700;
    box-shadow: 2px 2px 20px var(--soft-black);
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    padding: 1em 3.2em;
}

.header {
    position: absolute;
    width: 100%;
}

.navbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-block: 2em;
}

.navbar__button {
    background-color: var(--white);
    color: var(--very-dark-cyan);
}

.hero-container {
    background-color: var(--very-pale-cyan);
    background-image: url("./images/bg-hero-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 8em;
    padding-bottom: 3.5em;
}

.hero {
    align-items: center;
    display: flex;
    gap: 1.5em;
}

.hero__details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.2em;
}

.hero__title {
    font-size: 2.4em;
}

.hero__button,
.community__button {
    background-color: var(--pink);
    color: var(--white);
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 7em 4em;
}

.card {
    align-items: center;
    border-radius: 12px;
    box-shadow: 0 0 10px var(--soft-black);
    display: flex;
    padding: 3em 2em 3em 6em;
    gap: 5em;
}

.card:nth-child(even) {
    flex-direction: row-reverse;
}

.card__details {
    flex-basis: 55%;
}

.card__image-container {
    flex-basis: 45%;
}

.card__paragraph {
    color: var(--grayish-blue);
}

.footer-container {
    position: relative;
    background-color: var(--very-dark-cyan);
}

.community-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    background-color: var(--white);
    box-shadow: 0 0 15px var(--soft-black);
    border-radius: 20px;
    padding: 2.5em 4.5em;
    max-width: 35rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    top: -25%;
}

.community__title {
    text-align: center;
}

.footer__link-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 6em;
}

.footer__links:first-child {
    grid-column: 1 / span 2;
}

.footer__links:last-child {
    display: flex;
}